.testimonial-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    border-radius: 7%;
    height: 100%;
    justify-content: space-around;
    text-align: center;
    
    @media (min-width: 768px) {
        width: calc(80vw/3);
        height: fit-content;
    }
}

.testimonial-text-container {
    padding: 30px;
    line-height: 1.5;
}

.quote-icon {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    height: 35px;
}

.testimonial-author {
    text-align: center;
}