@import '../../../constants/styles.scss';

.content {
    margin-bottom: 45px;
}

.category-content {
    display: flex;
    gap: 3%;
    background-color: $light-base;
}

.menu-category {
    // text-align: center;
    width: 100%;
    padding: 15px;
    text-transform: capitalize;
    font-size: 18px;
    margin: 0;

    @media(min-width: 628px) {
        font-size: 24px;
        margin: 20px;
    }
}

.menuItems {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-content: space-around;
    padding: 15px;
}

.image-gallery {
    max-width: 650px;
    max-height: 450px;
}

.image-gallery-image {    
    object-fit: cover !important;

    @media(min-width: 768px) {
        width: 55vw !important;
        max-width: 650px !important;
        max-height: 450px !important;
        height: 55vw !important;
    }
}

// .gallery {
//     display: flex;
//     flex-wrap: wrap;
//     margin-top: 70px;
// }

// .image {
//     width: calc(100vw/3);
//     height: 300px;
//     object-fit: cover;
// }

// .backgroundImage {
//     position: absolute;
//     opacity: 0.3;
//     width: 100vw;
// }

.menuSection {
    margin-top: 45px;
}

.menuTitle {
    text-align: center;
}

