.testimonials-container {
    margin: 50px 0;
}

.testimonials-heading {
    text-align: center;
    margin: 20px 0;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}